.heroCard {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100vw;
  color: #010C66;
  padding-top: 20%;
  border-radius: 20px;
}

.heroCard-wrapper {
  height: 100vh;
}

.heroCard.scrolled {
  width: 90vw;
  height: 90vh;
  padding: 15% 10%;
  border-radius: 20px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.droneImg {
  position: absolute;
  top: -296px;
  left: 296px;
  z-index: 2;
  transition: all 2s ease;
}

.heroTitle {
  font-size: 120px;
  z-index: 1;
  width: fill;
}

.heroText {
  position: absolute;
  left: 10vw;
  bottom: 48px;
  text-align: left;
  width: 488px;
  font-size: 20px;
  z-index: 1;
}

.heroBtn {
  background-color: #010C66;
  padding: 7px 21px 7px 21px;
  margin-top: 46px;
  border: none;
  border-radius: 80px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.cardNumber {
  position: absolute;
  top: 10vh;
  left: 10vw;
  border: 1px solid #010C66;
  border-radius: 10px;
  width: 84px;
  height: 38px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes cardReveal {
  from { 
    height: 80vh; 
    width: 80vw;
  }
  to { 
    height: 100vh;
    width: 100vw; 
  }
}

/*@keyframes shrink {
  from { 
    height: 100vh;
    width: 100vw;
    transform: scaleX(0); 
  }
  to { 
    height: 90vh;
    width: 90vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transform: scaleX(1); 
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .heroCard-animation {
    animation: cardReveal 2s 1;
  }
}