.nrmaBtn {
  background-color: #010C66;
  padding: 0 20px;
  border: none;
  border-radius: 80px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  height: 48px;
}

.nrmaBtn--Small {
  height: 32px;
  padding: 0px 16px;
  font-size: 12px;
}

.nrmaBtn--Primary {
  background-color: transparent;
  border: 1px solid white;
} 
.nrmaBtn--Primary:hover {
  background-color: white;
  color: #010C66;
} 

.nrmaBtn--Secondary {
  background-color: transparent;
  color: #010C66;
  border: 1px solid #010C66;
}

.nrmaBtn--Secondary:hover {
  background-color: #010C66;
  color: white;
}