.contact-card {
    height: 80vh;
    width: 100%;
    background-color: #010C66;
    color: white;
    padding: 20%;
    border-radius: 20px;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-card > * {
    padding-bottom: 10px;
}

.white-contrast {
    background-color: white;
    padding: 7px 21px 7px 21px;
    border: none;
    border-radius: 80px;
    font-size: 14px;
    font-weight: 600;
    color: #010C66;
}

