
.pillBtn {
  flex: 0 0 auto;
    background-color: pink;
    font-family: Graphik, sans-serif;
    color: #010C66;
    border: none;
    padding: 22.5px;
    margin: 0;
    border-radius: 50px;
    font-size: 30px;
    display: inline-flex;
    text-wrap:nowrap;
}

.font-details-b {
    margin-top: 100px;
    font-size: 40px;
}