.heroCard {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  color: var(--primary-blue);
  position: relative;
  padding-top: 40vh;
}

.heroCard-wrapper {
  height: 100vh;
}
.canvasWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
Sticky Scroll
*/
.sticky {
  overflow: hidden;
  height: 100vh;
  position: sticky;
  top: 0; /* required */
}

/* .droneImg {
  position: absolute;
  top: -296px;
  left: 296px;
  z-index: 2;
  transition: all 2s ease;
} */

h2.heroTitle {
  z-index: 0;
  /* position: absolute;
  width: 100vw;
  top: 45vh; */

  font-size: var(--type-large-hero-card);
  /* 7.5, 3.875, 1.625 */
}

p.heroText {
  position: absolute;
  left: 10vw;
  bottom: 0;
  /* bottom: 48px; */
  text-align: left;
  width: 30vw;
  min-width: 480px;
  z-index: 1;
  display: block;
  font-size: var(--type-paragraph-hero-card);
  /* 1.25, 0.875, 1 */
  padding-bottom: 50px;
  line-height: normal;
}

.heroText > a > .primary-button-transparent {
  margin-top: 1.25rem;
}

span.cardNumber {
  position: absolute;
  top: calc(5vh + 80px);
  left: 10vw;
  border: 1px solid var(--primary-blue);
  border-radius: 10px;
  width: 84px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--type-paragraph-hero-card);
}

@media only screen and (max-width: 786px) {
  .font-details {
    font-size: 2rem !important;
  }

  p.heroText {
    width: 37vw;
    min-width: 220px;
  }

  .my-details {
    margin-right: 0;
  }
  .profile {
    max-width: 15em;
  }

  .heroTitle {
    margin-top: 50%;
  }

  .heroCard {
    padding-top: 0%;
  }
}

@media only screen and (max-width: 450px) {
  .heroTitle {
    margin-top: 5rem;
    /* font-size: 1.625rem; */
  }

  .heroCard {
    text-align: center;
    height: calc(100vh - 80px);
    padding: 40px;
    width: 90%;
    border-radius: 20px;
  }

  p.heroText {
    text-align: center;
    font-style: normal;
    width: 100vw;
    padding: 3.75rem;
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    /* padding: 0 60px; */

    position: absolute;
    transform: translate(-50%, 0%);
  }

  .heroText > a > .primary-button-transparent {
    margin-top: 1.88rem;
  }

  span.cardNumber {
    display: none;
  }
}
