.blogs {
  height: 100vh;
  overflow: hidden;
}

/* Styling for card carousel */
/* Buttons for control styling */
.blogs .card-group {
  overflow: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.blogs .card-group {
  scroll-snap-align: center;
}

.card-group {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.card-group::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.blogs .text-center {
  font-weight: 400;
  color: #010c66;
  padding: 150px;
}

.controls {
  text-align: right;
}

.controls button {
  height: 36px;
  width: 36px;
  border-radius: 80px;
  border: none;
  background-color: #d9d9d9;
  margin-left: 20px;
}

.controls button img {
  height: 24px;
  width: 24px;
}

.chevron-right {
  transform: rotate(180deg);
}

@media only screen and (max-width: 786px) {
  .card-deck {
    flex-direction: row;
    flex-flow: wrap;
  }
  .card-deck .card-resize {
    margin-bottom: 10px;
  }
  .container-box {
    display: contents;
  }
}
