.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #010C66;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlayNav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    height: 80px !important;
    width: fill;
}

.logoOverlay {
    width: 123px;
    height: 40px;
}

.menuOverlay {
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: normal;
    line-height: 64px;
}

.closeButton {
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
}