.logo {
  margin-left: 40px;
  width: 121px;
  height: 40px;
}

.navBar {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #010c66;
  font-family: "NRMA Graphik Medium", Graphik, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  z-index: 1001;
  transition: 1s ease;
}

.navBtn {
  position: absolute;
  right: 40px;
  display: flex;
}

.menubutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #010c66;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 100%;
  margin-left: 10px;
}

.navHeading {
  display: none;
}

.nav-link {
  color: white;
}

.navs-link {
  color: #010c66;
}

.navs-link:hover {
  color: #010c66;
}

.nav-link:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1440px) {
  .logo {
    margin-left: 120px;
  }

  .navBar {
    height: var(--nav-height);
  }

  .navBtn {
    right: 120px;
  }

  .menubutton {
    display: none;
  }

  .navHeading {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
  }

  .navScrolled {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
  }
}

/*.nav-theme--scrolled {
  background-color: white;
  color: #010C66
}

.navbar-dark .navbar-nav .nav-link{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}*/
