.logo {
      width: 123px;
      height: 40px;
      margin-left: 34px;
  }
  
  .nav-theme {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #010C66;
    font-size: 20px;
    height: 120px !important;
    width: fill;
    padding-left: 10vw;
    padding-right: 10vw;
    z-index: 1000;
  }
  .navbar-dark .navbar-nav .nav-link{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media only screen and (max-width: 786px){
    .nav-theme{
      height: auto !important;
      width: 100%;
    }
    .logo{
    margin-bottom:-32px;
    margin-left: 22px;
    }
  }

  .menubutton {
    position: absolute;
    right: 10vw;
    background-color: #010C66;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 100px;
  }