.logo {
      width: 184px;
      height: 60px;
      margin-left: 34px;
  }
  
  .nav-theme {
    background-color: #FFFFFF80;
    font-size: 20px;
    height: 101px !important;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    border-radius: 10px;
  }
  .navbar-dark .navbar-nav .nav-link{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media only screen and (max-width: 786px){
    .nav-theme{
      height: auto !important;
      width: 100%;
    }
    .logo{
    margin-bottom:-32px;
    margin-left: 22px;
    }
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }

  .menubutton {
    position: absolute;
    right: 48px;
    background-color: #010C66;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 100px;
  }