.contact-jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-blue);
}

#medium-btn {
  border-color: #383838;
  color: #383838;
}

#medium-btn:hover {
  background-color: #383838;
  color: #ffffff;
}


#contact {
  width: 90vw;
  margin: auto;
}