#contact {
  width: calc(100vw - 2 * var(--card-margin));
  margin: auto;
}

.contact-card {
  height: 80vh;
  width: 100%;
  background-color: #010c66;
  color: white;
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-card > * {
  margin-bottom: 41px;
}

@media only screen and (max-width: 480px) {
  #contact {
    width: calc(100vw - 20px);
    padding: 10px;
  }

  .contact-card {
    padding: 10px;

    > h1 {
      margin-bottom: 80px;
    }

    > p {
      margin-bottom: 40px;
    }
  }
}
