.contact-jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-blue);
}

#medium-btn {
  border-color: #383838;
  color: #383838;
}

#medium-btn:hover {
  background-color: #383838;
  color: #ffffff;
}

#contact {
  width: 90vw;
  margin: auto;
}

.contact-card {
  height: 80vh;
  width: 100%;
  background-color: #010c66;
  color: white;
  padding: 20%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-card > * {
  padding-bottom: 10px;
}
