@import url('../../assets/styles/links.css');

.footer-style {
    background-color: #010C66;
    color: #fff;
    font-size: 16px;
    padding-left:5vw;
    padding-right: 5vw;
    text-align: left;
    
    > * {
      margin: 30px 0;
  }
}

.footer-logo {
  width: 122px;
  height: 40px;
}

.footer-text {
  width: 95%;
}

.footer-links a {
  display: inline-block;
  color: white;
}

.footer-links a::after {
  content: '|';
  margin-left: 5px;
  margin-right: 5px;
}
.footer-links a:last-child::after {
  content: '';
}