.footer-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #010C66;
    color: #fff;
    font-size: 20px;
    border: 2px solid #010C66;
    height: 100px;
    padding: 24px;
}

.footer-logo {
  width: 122px;
  height: 40px;
}

.footer-text {
  font-size: 16px;
}