.titleMessage {
  width: 100%;
  height: 100vh;
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 40px;
  line-height: normal;
  letter-spacing: -0.96px;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.launchMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: #010c66;
  font-size: 2em;
  margin: auto;
}

/* Large screen */
@media screen and (min-width: 768px) {
  .launchMessage {
    height: 635px;
    padding: 0px;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* Tablet Size */
@media screen and (max-width: 768px) {
  .titleMessage {
    font-size: 1.625em;
    letter-spacing: -0.72px;
    line-height: 28px;
  }
  .launchMessage {
    height: 384px;
    font-size: 1.5em;
    width: 378px;
    line-height: 130%;
  }
}

/* Mobile Device */
@media screen and (max-width: 450px) {
  .titleMessage {
    font-size: 1em;
    letter-spacing: -0.48px;
    line-height: normal;
    padding: 3.25em;
  }
  .launchMessage {
    font-size: 1.625em;
    letter-spacing: -0.78px;
    height: 250px;
    width: 90vw;
  }
}
