.introMessage {
  width: 100vw;
  min-height: 100vh;
  padding: 9.37rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
  line-height: normal;
  letter-spacing: -0.075rem;
  color: var(--primary-white);
  background-color: var(--primary-blue);

  > p {
    width: 71.25rem;
  }
}

.mainSectionHeader {
  width: 39rem;
  height: 32rem;
  margin: auto;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-blue);
  line-height: 130%;
  scroll-margin-top: var(--nav-height);
}

/* Large screen */
@media screen and (min-width: 768px) and (max-width: 768px) {
  .mainContentSectionHeader {
    height: 635px;
    padding: 0px;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* Tablet Size */
@media screen and (max-width: 768px) {
  .introMessage {
    font-size: 1.625em;
    letter-spacing: -0.72px;
    line-height: 28px;

    > p {
      width: 36.25rem;
    }
  }
  .mainSectionHeader {
    height: 384px;
    font-size: 1.5em;
    width: 378px;
    line-height: 130%;
  }
}

@media screen and (max-width: 450px) {
  .introMessage {
    font-size: 1rem;
    letter-spacing: -0.03rem;
    line-height: 120%;
    padding: 3.25rem;
  }
  .mainSectionHeader {
    font-size: 1.625em;
    letter-spacing: -0.78px;
    height: 15.625rem;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .mainSectionHeader {
    scroll-margin-top: 80px;
  }
}
