.App {
    background-color: var(--primary-warm-white);
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  hr {
    border: 0;
    height: 1px;
  }
  
  .container-box {
    width: 80%;
    background-color: transparent;
    position: relative;
    z-index: 9;
  }
  
  .particles-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .titleMessage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 4em;
    color: #010C66;
  }
  
  .launchMessage {
    width: 100%;
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color: #010C66;
  }
  
  .iconbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 48px;
    margin: auto;
    background-color: #010C66;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 100px;
  }
  
  .divider {
    height: 104.5vh; /* for animation testing purposes */
  }
  
  .divider2 {
    height: 20vh; /* for animation testing purposes */
  }

  .cardImg {
    position: absolute;
    z-index: 2;
  }