body {
  font-family: Graphik, sans-serif;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}
.section{
  height: 100vh;
  
}

.fp-section {
  text-align: center;
}

@font-face {
  font-family: 'Graphik';
  src: local('Graphik-Regular'), url(./assets/fonts/Graphik-Regular.otf)
}