/* Common area for button styles */
:root {
  /* Colours */
  --primary-white: white;
  --primary-blue: #010c66;
  /* Sizing */
  --circle-button: 46px;
}

button:focus {
  outline: none;
}

.primary-button-transparent {
  font-family: "NRMA Graphik Medium", Graphik, sans-serif;
  border: 1px solid #010c66;
  color: #010c66;
  background-color: transparent;
  padding: 16px 20px;
  border-radius: 80px;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
}

@media only screen and (max-width: 768px) {
  .primary-button-transparent {
    padding: 0.88rem 1rem;
    height: 2rem;
    line-height: 0.24rem;
  }
}

@media only screen and (max-width: 450px) {
  .primary-button-transparent {
    padding: 1rem 1.25rem;
    line-height: 0.25rem;
    height: 2.25rem;
  }
}

.primary-button-transparent:hover {
  background-color: #010c66;
  color: var(--primary-white);
}

.close-button {
  text-align: center;
  height: var(--circle-button);
  width: var(--circle-button);
  border: 1px solid var(--primary-white);
  border-radius: 100%;
  background-color: transparent;
}

.close-button:hover {
  background-color: var(--primary-white);

  > img {
    /* will need to change future implementation!! - instead to actually change svg colour */
    filter: invert(1);
  }
}

.chevron-down-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 48px;
  margin: auto;
  width: var(--icon-button-medium);
  height: var(--icon-button-medium);
  border: 1px solid white;
  border-radius: 100px;
  transition: display 2s linear;
  background-color: transparent;
  transition: background-color 0.2s ease;
  opacity: 1;
  transition: opacity 1s ease;
}

.skip-content-button-hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.chevron-down-button:hover {
  background-color: var(--primary-warm-white);
  transition: background-color 0.2s ease;
}

.chevron-down-button:hover img {
  content: url("../icons/chevron-down-blue.svg");
}

.chevron-down-button img {
  width: 24px;
  height: 24px;
}

.chevron-right,
.chevron-left {
  height: var(--icon-button-small);
  width: var(--icon-button-small);
  border-radius: 80px;
  border: 1px solid var(--primary-blue);
  background-color: transparent;
  margin-left: 10px;
  align-items: center;

  > img {
    height: 24px;
    width: 24px;
    margin-left: -3px;
  }
}
.chevron-right:hover,
.chevron-left:hover {
  background-color: var(--primary-blue);
}

.chevron-right:hover img,
.chevron-left:hover img {
  content: url("../icons/chevron-left-white.svg");
}

.chevron-right {
  transform: rotate(180deg);
}
