/* Common area for button styles */
:root {
  /* Colours */
  --primary-white: white;
  --primary-blue: #010c66;
  /* Sizing */
  --circle-button: 46px;
}

button:focus {
  outline: none;
}

.primary-button-transparent {
  border: 1px solid #010c66;
  color: #010c66;
  background-color: transparent;
  padding: 16px 20px;
  border-radius: 80px;
  font-size: 14px;
  font-weight: 600;
}

.primary-button-transparent:hover {
  background-color: #010c66;
  color: var(--primary-white);
}

.close-button {
  text-align: center;
  height: var(--circle-button);
  width: var(--circle-button);
  border: 1px solid var(--primary-white);
  border-radius: 100%;
  background-color: transparent;
}

.close-button:hover {
  background-color: var(--primary-white);

  > img {
    /* will need to change future implementation!! - instead to actually change svg colour */
    filter: invert(1);
  }
}

.skip-content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 48px;
  margin: auto;
  width: 46px;
  height: 46px;
  border: 1px solid white;
  border-radius: 100px;
  transition: display 2s linear;
  background-color: transparent;
  transition: background-color 0.2s ease;
  opacity: 1;
  transition: opacity 1s ease;
}

.skip-content-button-hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

/* check if accessibility */
/* .skip-content-button:focus {
  outline: none;
} */

.skip-content-button:hover {
  background-color: white;
  transition: background-color 0.2s ease;
}

.skip-content-button:hover img {
  content: url("../icons/chevron-down-blue.svg");
}

.skip-content-button img {
  width: 24px;
  height: 24px;
}
