:root {
    --primary-white: #ffffff;
    --primary-warm-white: #F7F1EA;
    --primary-blue: #010C66;
    --primary-spinifex: #D7D667;
    --primary-sunset: #F9AE97;
    --primary-river-gum: #91BF9E;
}